body {
  /* デフォルトの6倍にする */
  font-size: 6em;
  text-align: center;
}
.count {
  margin: 0;
  font-weight: bold;
  color: #888;
}
.wrap {
  margin-top: 20px;
  padding: 80px 40px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}
/* 入力した文字が黄緑色になる */
.typed {
  color: lightgreen;
}
/* タイピングを間違ったら赤色になる */
.mistyped {
  background-color: red;
}